button{
  width: 60px;
  height: 60px;
  border: 1px solid black;
  background-color: green;
}
div.container {
    width: 500px;
    min-height: 200px;
    margin: 0 auto;
}
div.row {
    margin: 0 auto;
}
div.switch {
    display: inline-block;
}

button.red{
  background-color: red;
}
